<div class="user__main">
  <div class="params">
    <div class="params__item">
      <p class="params__title">
        Почта
      </p>
      <input name="email" class="params__value" value={{{email}}}>
      </input>
    </div>
    <div class="params__item">
      <p class="params__title">
        Логин
      </p>
      <input name="login" class="params__value" value={{{login}}}>
      </input>
    </div>
    <div class="params__item">
      <p class="params__title">
        Имя
      </p>
            <input name="first_name" class="params__value" value={{{firstName}}}>
      </input>
    </div>
    <div class="params__item">
      <p class="params__title">
        Фамилия
      </p>
            <input name="second_name" class="params__value" value={{{secondName}}}>
      </input>
    </div>
    <div class="params__item">
      <p class="params__title">
        Имя в чате
      </p>
            <input name="display_name" class="params__value" value={{{displayName}}}>
      </input>
    </div>
    <div class="params__item">
      <p class="params__title">
        Телефон
      </p>
    <input name="phone" class="params__value" value={{{phone}}}>
      </input>
    </div>
  </div>
</div>