<div class="user__main">
  <p class="user__name">
    {{{firstName}}}
    {{{secondName}}}
  </p>
  <div class="params">
    <div class="params__item">
      <p class="params__title">
        Почта
      </p>
      <p class="params__value">
        {{{email}}}
      </p>
    </div>
    <div class="params__item">
      <p class="params__title">
        Логин
      </p>
      <p class="params__value">
        {{{login}}}
      </p>
    </div>
    <div class="params__item">
      <p class="params__title">
        Имя
      </p>
      <p class="params__value">{{{firstName}}}</p>
    </div>
    <div class="params__item">
      <p class="params__title">
        Фамилия
      </p>
      <p class="params__value">
        {{{secondName}}}
      </p>
    </div>
    <div class="params__item">
      <p class="params__title">
        Имя в чате
      </p>
      <p class="params__value">
        {{{displayName}}}
      </p>
    </div>
    <div class="params__item">
      <p class="params__title">
        Телефон
      </p>
      <p class="params__value">
        {{{phone}}}
      </p>
    </div>
  </div>
</div>